/* propiedad: valor. El ultimo selector leido es el que se aplica
en caso de que haya 2 selectores iguales*/
/* Globales */
html{
    box-sizing: border-box; /* padding and border are included in the width */
    font-size: 62.5%; /* Reset para REMS, 1em=10px */
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem
}
h3{
    font-size: 2.8rem;
    
}
h4{
    font-size: 2.4rem
}

img{
    max-width: 100%;
}
/* utilidades */

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.seccion{
    margin-top: 2rem;
    margin-bottom:2rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.dblock{
    display: block!important;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}
/* Botones */
.boton{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin: 1rem;
    text-align: center;
}

.boton-amarillo{
    background-color: #E08709;
}

.boton-verde{
    background-color: #71b100;
}

.barra{
    display: flex;
    /* Alinear horizontalmente */
    justify-content: space-between;
    /* Alinear verticalmente */
    align-items:center;
    padding-top: 3rem;
}

.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(/img/header.jpg);
    background-position: center center;
    /* al ponerle cover, forzamos a cambiarle el tamaño a la imagen para cubrir
    por completo su contenedor */
    background-size: cover;
    /* 100vh va a cubrir toda la altura del navegador */
    height: 100vh;
    /* al ponerle el minimo, estamos restringiendo cuan chica la imagen puede ser */
    min-height: 60rem;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover{
    color: #71b100;
}

.navegacion a:last-of-type{
    margin-right: 0;
}

/* Hay que cambiar la direccion del flexbox de izquierda a derecha A de arriba a abajo */
.contenido-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contenido-header h1{
    color: white;
    max-width: 60rem;
    padding-bottom: 2rem;
    line-height: 1.8;
}

.iconos-flex{
    display: flex;
    justify-content: space-between;
}

.iconos{
    /* es como el width pero de flexbox */
    /* calc realiza una operacion matematica */
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.iconos h3{
    text-transform: uppercase;
}

.contenedor-anuncios{
    display: flex;
    justify-content: space-between ;
}

.anuncio{
    flex-basis: calc(33.3% - 2rem);
    border: solid #B5B5B5 0.2rem;
    background-color: #F5F5F5;
}

.contenido-anuncio{
    padding: 2rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
    margin:0;
}

.precio{
    color: #71b100;
    font-weight: 700;
}

/* Al ser en cascada, el elemento inferior sobreescribe la propiedad
superior */

.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex:1;/* Detecta el tamaño disponible y 
    cuantos elementos hay y distribuye el espacio*/
    color:white;
}

.contenido-contacto p{
    font-size: 1.8rem;
}

.iconos-caracteristicas{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li{
    display: flex;
    justify-content: flex-end;
}

.iconos-caracteristicas li img{
    margin-right: 2rem;
}

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog .imagen{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 2rem);
}

.texto-entrada h4{
    margin: 0;
}

.texto-entrada h4::after{
    /* crear pseudoelemento despues de h4*/
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #71b100;
}

.texto-entrada span{
    color:#E08709;
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}

.testimonial{
    background-color: #71b100;
    font-size: 2rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial blockquote::before{
    content:'';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
    
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
}

.testimonial p{
    text-align: right;
}

/* footer*/
.site-footer{
    background-color: #333333;
    margin-bottom: 0;
}

.copyright{
    margin: 0;
    color: white;
}

.contenedor-footer{
    padding:3rem 0;
    display: flex;
    justify-content: space-between;
}

.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 1/2 fraccion para cada una */
    grid-column-gap:2rem ;
}

.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin:0;
    padding: 3rem 0;
}